<h1 class="text-center">ABOUT THE ARTIST<h1>

<div>
<p style="font-size: 80%" class="text-center">
  
GRAHAM WALLING B.1988

</p>
</div>

<div>
<p style="font-size: 80%" class="text-center">

Graham Walling graduated with a B.A. in Literary Arts from Brown University in 2012.

While attending college, Graham decided to take painting at neighboring RISD and it has since then remained one of his favorite hobbies.

He resides in Orange County, California.
</p>
</div>

<div style="text-align: center">
<img src="https://i.imgur.com/HOaFoSG.png" style="width:500px;height:600px;">
</div>
