<div class="container">

  <div class="row">
    <h2>Search For Users</h2>
    <div class="form-group col-md-11">
      <input type="text" class="form-control" placeholder="Search..." ng-model="userSearch">
    </div>

    <div class="col-md-1">
      <button class="btn btn-primary pull-right" ui-sref="newUsers">New User</button>
    </div>
  </div>

  <div class="row userSection">
    <div class="userContainer col-md-3" ng-repeat="user in users | filter: userSearch">
      <div class="userHeader">
        <h1 class="userHeading">{{ user.firstName }} {{ user.lastName }}</h1>
      </div>
      <div class="userBody">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>DOB:</strong> {{ user.dob | date: 'MM/dd/yyyy'}}</p>
        <p><strong>Address:</strong> {{ user.street1 }}</p>
        <p><strong>City:</strong> {{ user.city }}</p>
        <p><strong>State:</strong> {{ user.state }}</p>
        <p><strong>Zip:</strong> {{ user.zip }}</p>
        <a ui-sref="showUser({id: {{ user.id }} })">
          <button class="btn btn-primary">View</button>
        </a>
      </div>
    </div>
  </div>

</div><!-- Container End -->
